
@{
    ViewBag.Title = "ChatRoom";
}

<h2>ChatRoom</h2>
<p id="Username"></p>
<div id="inputForm">
    <table>
        <tr>
            <td rowspan="2"><textarea id="txtMessage" rows="3"></textarea></td>
            <td><button id="btnMessage" value="Отправить">Отправить</button></td>
        </tr>
        <tr>
            <td><button id="btnLogOff" value="Выйти">Выйти</button></td>
        </tr>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {

                $.ajax({
                    type: 'GET',
                    url: '/api/Account/GetCurrentUser',
                    dataType: 'json'
                }).success(function (data) {
                    $('#Username').html(data);
                }).fail(function (data) {
                    console.log(data);
                });
            });

        })
    </script>
}